<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Matt.Bits" version="1.6.0" targetFramework="net461" />
  <package id="Matt.Interfaces" version="1.0.1" targetFramework="net461" />
  <package id="Matt.Lists" version="2.0.0" targetFramework="net461" />
  <package id="Matt.Math.Linear.Solving" version="3.0.2" targetFramework="net461" />
</packages>